@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: white;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

.fade {
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    /* Firefox */
    -webkit-animation: fadein 2s;
    /* Safari and Chrome */
    -o-animation: fadein 2s;
    /* Opera */
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {

    /* Firefox */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {

    /* Safari and Chrome */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {

    /* Opera */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.header {
    position: absolute;
    top: 50px;
    left: 150px;
}

.bg {
    width: 100%;
}

#topMenu {
    position: absolute;
    top: 80px;
    left: 1800px;
}

#topMenu ul li {
    float: left;
    position: relative;
    text-transform: uppercase;
    margin: 0 60px 0 0;
    font-weight: 700;
    font-size: 20px;
}

body {
    position: fixed;
}

.container .content2 p {
    animation-duration: 3.5s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 180px;
        width: 40%;
    }

    to {
        width: 7.8%;
    }
}

.container .content2 p.title {
    position: absolute;
    top: 930px;
    left: 2020px;
    text-align: right;
    font-weight: 800;
    font-size: 4rem;
}

.container .content2 p.sub {
    position: absolute;
    top: 1020px;
    left: 2200px;
    text-align: right;
    font-weight: 100;
    font-size: 3rem;
}

.container .content2 hr {
    float: right;
    border: solid 0.3px white;
    width: 18%;
    position: absolute;
    top: 1100px;
    left: 1940px;
}

.footer ul {
    position: relative;
    top: -240px;
    left: 150px;
}

.footer .left li {
    margin: 0 0 0 0;
    padding: 0 15px 10px 0;
    border: 0;
    display: inline-block;
    font-weight: 700;
}

.footer p:first-child {
    font-weight: 300;
    font-size: 14px;
    padding-bottom: 5px;
}

.footer p:last-child {
    font-weight: 600;
    font-size: 17px;
}

.footer .sns ul {
    left: 200px;
}

.footer .sns div {
    float: right;
    position: absolute;
    left: 77%;
    bottom: 0;
}

.footer .sns li {
    padding: 0 15px 0px 0;
    display: inline-block;
}

.footer .sns li span {
    display: none;
}

@media (max-width: 1925px) {
    #topMenu {
        position: absolute;
        top: 80px;
        left: 1150px;
    }

    .sns div {
        float: right;
        position: absolute;
        left: 68% !important;
        bottom: 0;
    }

    .container .content2 p.title {
        position: absolute;
        top: 659px;
        left: 1340px;
        text-align: right;
        font-weight: 800;
        font-size: 4rem;
    }

    .container .content2 p.sub {
        position: absolute;
        top: 750px;
        left: 1520px;
        text-align: right;
        font-weight: 100;
        font-size: 3rem;
    }

    .container .content2 hr {
        float: right;
        border: solid 0.3px white;
        width: 25%;
        position: absolute;
        top: 830px;
        left: 1235px;
    }

    .container .content2 p {
        animation-duration: 3.5s;
        animation-name: slidein;
    }

    @keyframes slidein {
        from {
            margin-left: 180px;
            width: 40%;
        }

        to {
            width: 10.4%;
        }
    }
}

@media (max-width: 1800px) {
    #topMenu {
        position: absolute;
        top: 80px;
        left: 900px;
    }

    #topMenu ul li {
        float: left;
        position: relative;
        text-transform: uppercase;
        margin: 0 20px 0 0;
        font-weight: 700;
        font-size: 20px;
    }

    .container .content2 p.title {
        position: absolute;
        top: 520px;
        left: 1020px;
        text-align: right;
        font-weight: 800;
        font-size: 3.5rem;
    }

    .container .content2 p.sub {
        position: absolute;
        top: 595px;
        left: 1190px;
        text-align: right;
        font-weight: 100;
        font-size: 2.5rem;
    }

    .container .content2 hr {
        float: right;
        border: solid 0.3px white;
        width: 30%;
        position: absolute;
        top: 665px;
        left: 920px;
    }

    .container .content2 p {
        animation-duration: 3.5s;
        animation-name: slidein;
    }

    @keyframes slidein {
        from {
            margin-left: 180px;
            width: 40%;
        }

        to {
            width: 10.4%;
        }
    }

    .footer ul {
        position: relative;
        top: -130px;
        left: 155px;
        font-size: 15px;
    }

    .footer p:first-child {
        font-weight: 300;
        font-size: 11px;
        padding-bottom: 5px;
    }

    .footer p:last-child {
        font-weight: 600;
        font-size: 14px;
    }

    .sns div {
        float: right;
        position: absolute;
        left: 65% !important;
    }
}

@media (max-width: 1125px) {
    .body {
        width: 100%;
        height: 100vh;
    }

    .bg {
        width: 390%;
        margin: 0 0 0 -150%;
    }

    .header {
        text-align: center;
        width: 77%;
        margin-top: 5%
    }

    .header img {
        width: 40%;
    }


    #topMenu {
        position: absolute;
        top: 320px;
        left: 165px;
        font-size: 40px;
    }

    #topMenu ul li {
        position: relative;
        text-transform: uppercase;
        margin: 0 20px 0 0;
        font-weight: 700;
        font-size: 87%;
        display: inline-block;
        text-align: center;
    }

    .container .content2 p.title {
        position: absolute;
        top: 1860px;
        left: 670px;
        text-align: right;
        font-weight: 800;
        font-size: 3.5rem;
    }

    .container .content2 p.sub {
        position: absolute;
        top: 1950px;
        left: 840px;
        text-align: right;
        font-weight: 100;
        font-size: 2.5rem;
    }

    .container .content2 hr {
        float: right;
        border: solid 0.3px white;
        width: 41%;
        position: absolute;
        top: 2025px;
        left: 540px;
    }

    .container .content2 p {
        animation-duration: 3.5s;
        animation-name: slidein;
    }

    @keyframes slidein {
        from {
            margin-left: 180px;
            width: 40%;
        }

        to {
            width: 14.8%;
        }
    }

    .footer {
        max-width: 60%;
        display: table-cell;
        position: relative;
        left: 5%;
        top: -95px;
        text-align: center;
        font-size: 1rem;
    }

    #notice {
        font-size: 25px;
    }

    .footer ul div {
        position: relative;
        top: -300px;
        left: 170px !important;
        font-size: 120px;
    }

    .footer li {
        margin: 0 0 0 0;
        padding: 0 15px 10px 0;
        border: 0;
        display: inline-block;
        font-weight: 700;
    }

    .footer p:first-child {
        font-weight: 300;
        font-size: 23px;
        padding-bottom: 5px;
    }

    .footer p:last-child {
        font-weight: 600;
        font-size: 27px;
    }

    .sns img {
        width: 150%;
    }

}

@media (max-width: 425px) {
    .body {
        width: 100%;
        height: 100vh;
    }

    .bg {
        width: 390%;
        margin: 0 0 0 -690px;
    }

    .header {
        text-align: center;
        max-width: 100%;
        margin: -10px 0 0px -30px;
    }

    #topMenu {
        position: absolute;
        top: 130px;
        left: 35px;
    }

    #topMenu ul li {
        position: relative;
        text-transform: uppercase;
        margin: 0 20px 0 0;
        font-weight: 700;
        font-size: 87%;
        display: inline-block;
        text-align: center;
    }

    .footer {
        max-width: 60%;
        display: table-cell;
        position: relative;
        left: 15%;
        top: -95px;
        text-align: center;
        font-size: 1rem;
    }

    #notice {
        font-size: 80%;
    }

    .footer li {
        margin: 0 0 0 0;
        padding: 0 15px 10px 0;
        border: 0;
        display: inline-block;
        font-weight: 700;
    }

    .footer p:first-child {
        font-weight: 300;
        font-size: 5px;
        padding-bottom: 5px;
    }

    .footer p:last-child {
        font-weight: 600;
        font-size: 10px;
    }

}